* {
	font-family: 'Fira Code', monospace;
}

body,
html {
	height: 100%;
	display: grid;
}

.center {
	height: 90vh;
	width: 90vw;

	display: flex;
	position: relative;

	margin: auto;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
}

.section {
	width: calc(45vw);
	height: 100%
}

.section.code {
	margin: 0;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

#editing {
	margin-top: 20px !important;
}

#editing,
#highlighting {
	/* Both elements need the same text and space styling so they are directly on top of each other */
	margin: 10px;
	padding: 10px;
	border: 0;
	outline: none;
	width: calc(45vw - 40px);
	height: calc(100% - 40px);
}

#editing,
#highlighting,
#highlighting * {
	font-size: 10pt;
	font-family: 'Fira Code';
	line-height: 15pt;
}

#editing,
#highlighting {
	position: absolute;
	top: 0;
}

/* Move the textarea in front of the result */

#editing {
	z-index: 1;
}
#highlighting {
	z-index: 0;
}

/* Make textarea almost completely transparent */

#editing {
	color: transparent;
	background: transparent;
	caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#editing,
#highlighting {
	overflow: auto;
	white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
	resize: none;
}

/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-funky&languages=markup */
/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
	font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 0.4em 0.8em;
	margin: 0.5em 0;
	overflow: auto;
	/* background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C0%2C0%2C.2)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
	background-size: 1em 1em; - WebCoder49*/
	background: black; /* - WebCoder49 */
}

code[class*='language-'] {
	background: black;
	color: white;
	box-shadow: -0.3em 0 0 0.3em black, 0.3em 0 0 0.3em black;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.2em;
	border-radius: 0.3em;
	box-shadow: none;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #aaa;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: yellow;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
	color: yellowgreen;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: deeppink;
}

.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}

/* Plugin styles: Diff Highlight */
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
	background-color: rgba(255, 0, 0, 0.3);
	display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
	background-color: rgba(0, 255, 128, 0.3);
	display: inline;
}

.token.bold .token.content {
	font-weight: bold;
}

.token.italic .token.content {
	font-style: italic;
}

/* End of prism.js syntax highlighting*/
